* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px
}

a {
  text-decoration: none;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-12px);
  }
}

.embla {
  --slide-size: 70%;
  --slide-spacing: 10px;
}